                                                                /*GENERELT*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Margin der giver luft til højre og venstre for indhold*/
.headercontent, .footercontent, .card, .centercard, #tips_card{
    margin-left: 20px;
    margin-right: 20px;
}

/*Alle billeder skal have 100% width, så størrelsen styres af en container div.*/
img{
    width: 100%;
}

/*Fonts*/
h1, h2, h3,a{
    color: #2D358C;
}

h2,h3,a{
    font-family: 'Alice', serif;
}

h1{
    font-family: 'Franklin Gothic Heavy';
    font-size: 5vw;
    text-align: center;
    margin-top: 50px;
}

h2{
    font-size: 2.5vw;
    margin-bottom: 10px;
}

h3{
    font-size: 2vw;
    margin-top: 20px;
}

a{
    font-size: 1vw;
    text-decoration: none;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1f1f1f;
    font-size: 1vw;
    line-height: 1.5vw;
}



                                                                /*HEADER*/
header{
    background-color: #E9F3FB;
    box-shadow: 2px 2px 5px rgb(45, 53, 140,0.3);
    top: 0;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.headercontent{
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}

#medova_header{
    width: 20%;
    margin-top: -20px;
}

/*Navigation*/
nav a{
    color: white;
    text-decoration: none;
    
    /*styling af 'knapper' i nav*/
    background-color: #2D358C;
    border-radius: 20%;
    padding-bottom: 15px;

    padding-top: 10px;
    padding-left: 18px;
    padding-right: 22px;

    margin-inline: 20px;
}

/*Dropdown - tager udgangspunkt i eksempel på dropdown-løsning på w3schools.com*/ 
.dropdown{ 
    position: relative; 
    display: inline-block;
} 
      
.dropdown-content{ 
    display: none; 
    position: absolute; 
    right: 0;
    background-color: #2D358C;
    z-index: 3; 

    /*Samme som i nav a for at linjer og afstand flugter*/
    padding-top: 10px;
    padding-left: 10px;
    margin-inline: 20px; 
}  
    
.dropdown-content a{
    padding: 0;
}

.dropdown:hover .dropdown-content{ 
    display: block; 
} 
    
.dropdown-content li{ 
    list-style: none; 
    text-align: left; 
    margin-bottom: 10px; 
} 

                                                                /*FOOTER*/
footer{
    height: 370px;
    width: 100%;
    background-color: #2D358C;
    margin-top: -5px;
}

/*Størrelse på logo*/
#medova_footer{
    width: 30%;
}

#list{
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
    margin-top: 40px;
}

footer li{
    list-style: none; 
    text-align: left;
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
    font-size: 1.3vw;
    line-height: 1.5vw;
}


                                                                /*MAIN*/
main{
    margin-top: 100px;
    background-color: #E9F3FB;
    padding-bottom: 1px;
}



/*KORT*/
.card, .centercard, #tips_card{
    background-color: white;
    width: 97%;
    height: fit-content;
    padding: 1.5%;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(45, 53, 140, 0.3);

    margin-top: 20px;
    margin-bottom: 50px;
}

.card, #tips_card div{
    display: flex;
    justify-content: space-between;
}

.card div, #tips_card div div{
    width: 50%;
    /*Luft mellem de to div'er i card*/
    margin-inline: 1%;
}

.centercard{
    text-align: center;
}

/*styrer størrelse og placering af illustrationer i kort*/
.card>.illustration{
    width: 25%;
    margin-right: 10%;
    margin-left: 10%;
}

/*INDEX - MAIN*/
#forside{
    margin-left: 0;
    margin-right: 0;
}

/*Punktliste under produkter, variation box indrykkes*/
.p_list{
    margin-left: 20px;
}

/*HISTORIEN BAG - MAIN*/
#movetoright{
    margin-left: 50%;
}

/*GØR EN FORSKEL - MAIN*/
#punktliste{
    margin-left: 20px;
}

.indryk{
    margin-left: 50px;
}

li{
    color: #2D358C;
    font-size: 1.5vw;
}

                                                                /*MEDIA QUERIES*/

/*MOBIL*/ 
@media screen and (max-width: 768px){

}

/*LAPTOP*/  
@media screen and (min-width: 768px){
    #burger_menu {
        display: none;
    }
} 
